.container {
	--btn-3D-dark-shadow: #00000024;
	--btn-3D-light-shadow: #ffffff6c;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	font-family: inherit;
}

.button {
	font-family: inherit;
	padding: 12px 14px;
	border-radius: 8px;
	color: #5b5c5f;
	transition: 150ms;
	outline: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-3D {
	box-shadow:
		6px 6px 12px 0 var(--btn-3D-dark-shadow),
		-6px -6px 16px 0 var(--btn-3D-light-shadow);
}

.button-3D:hover {
	box-shadow:
		12px 12px 12px 0 var(--btn-3D-dark-shadow),
		-8px -8px 16px 0 var(--btn-3D-light-shadow);
}

.button-3D:active {
	box-shadow:
		inset 2px 2px 4px 0 var(--btn-3D-dark-shadow),
		inset -2px -2px 4px 0 var(--btn-3D-light-shadow);
}

.button-simple {
	border-radius: 4px;
	box-sizing: border-box;
	color: #808080;
	font-size: 15px;
	height: 35px;
	padding: 0 15px;
	border: 1px solid #adadadfa;
}

.button-simple:focus {
	border: 2px solid #adadadfa;
	opacity: 1;
}

.button-simple:hover {
	background: linear-gradient(to right, #bac2c724, #d8cfcf44);
	color: #38393b;
	opacity: 0.85;
}

.button-simple:active {
	opacity: 1;
}
